doctype html
html
    head
        meta(charset='UTF-8')
        title Photopia
        link(rel='stylesheet', href='/stylesheets/index.css')
    body
        div.mainContainer
            div.inspiredContentContainer
                div.inspiredLogo
                div.inspiredRegistrationDialog
                    div.title She used Photopia to step up her style
                    div.subtitle Join Photopia to discover and save creative ideas.
                    div.inspiredRegistrationContainer
                        div.signUpForm
                            div.buttonWrapper
                                ul
                                    li.email
                                    li.password
                                    li.signUpButton
                            div.termOfServiceWrapper
                button.loginButton
