doctype html
html
    head
        meta(charset='UTF-8')
        title Photopia
        link(rel='stylesheet', href='/stylesheets/index.css')
    body
        div.mainContainer
            div.inspiredContentContainer
                div.backgroundImageContainer
                    img(src='/images/bg_fashion-d2b5ea6e.jpg')
                div.inspiredLogo
                div.inspiredRegistrationDialog
                    div.title She used Photopia to step up her style
                    div.subtitle Join Photopia to discover and save creative ideas.
                    div.inspiredRegistrationContainer
                        div.signUpForm
                            div.buttonWrapper
                                ul
                                    li
                                        input.email(type='email', id='userEmail', placeholder='Email', autofocus)
                                    li
                                        input.password(type='password', id='userPassword', placeholder='Create a password')
                                    li
                                        button.Button.signUpButton Sign up
                            div.termOfServiceWrapper
                button.loginButton Log in
